@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3edf8;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  width: 400px;
  color: white;
  text-shadow: 1px 1px rgb(104, 104, 104);
}

.current-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #87ceeb;
  /* border: 2px solid black; */
  gap: 20px;
  border-radius: 6px;
  padding: 20px 70px 40px 70px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 18px 46px 6px rgb(17 20 24 / 40%);
}

.name-temp {
display: inherit;
flex-direction: inherit;
}

.name-temp h2 {
  display: inherit;
  justify-content: center;
  font-size: 2rem;
  font-weight: lighter;
}

.name-temp h1 {
  display: inherit;
  justify-content: center;
  padding-top: 10px;
  font-size: 3rem;
  font-weight: lighter;
}

.app-data {
  display: flex;
  flex-direction: inherit;
  padding-top: 10px;
}

.app-data p {
  text-transform: capitalize;
  display: inherit;
  justify-content: center; 
  font-size: 1.25rem; 
}

.high-low {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.zipcode-container {
  display: inherit;  
}

.zipcode-form,
.zipcode-form label {
  display: inherit;
  justify-content: flex-end;
  flex-grow: 2;
  width: 100px;
  height: 22px;
  gap: 5px;
}

.zipcode {
  display: inherit;
  flex-direction: row;
  gap: 10px;
}

.zipcode-input {
  display: inherit;
  justify-content: flex-end;
  width: 80%;
  border: none;
  border-radius: 6px;
}

.zipcode-btn {
  display: inherit;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s;
  background-color: aliceblue;
}

.zipcode-btn:hover {
  background-color: #8efdd8;
}

.date {
  position: absolute;
  top: 5%;
  right: 77%;
  font-size: 1rem;
}

.svgIcon {
  position: absolute;
  left: 90%;
  top: 5%;
  font-size: larger;
  transition: transform .7s ease-in-out;
}

.svgIcon:hover {
  color: gray;
  transform: rotate( 360deg);
  cursor: pointer;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 400px;
}

.box {
  display: inherit;
  background-color: #87ceeb;
  border-radius: 6px;
  /* padding: 20px 70px 90px 70px; */
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 18px 46px 6px rgb(17 20 24 / 40%);
  font-size: 1rem;
  gap: 10px;
}

.sun,
.humidity,
.feels-like,
.wind {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 42%;
  height: 150px;
}

.icon-text {
  text-shadow: none;
  color: rgb(84, 141, 228);
}

.box-value {
  font-size: 1.5rem;
}

.spinner {
  color: red;
  animation: rotator 1.4s linear infinite;
}

.placeholder {
  background-color: hsl(200, 20%, 80%);
  z-index: 10;
  border-radius: .25rem;
}

.placeholder p {
  z-index: -1;
  opacity: 0;
}

@media only screen and (max-width:500px) {
  root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .date {
    font-size: 13px;
    top: 5px;
    right: 77%;
  }

  .svgIcon {
    top: 5px;
    font-size: 18px;
  }

  .app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .weather-container {
    width: 100%;
  }

  .current-container {
    width: 258px;
    padding: 20px;
    gap: 10px;
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    width: 300px;
  }

  .sun,
  .humidity,
  .feels-like,
  .wind {
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 40%;
    height: 80px;
  }
}
