@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  user-select: none;
}

p {
  margin: 0;
  user-select: none;
}

.App {
  height: inherit;
  width: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  color: white;
  text-shadow: 1px 1px rgb(104, 104, 104); 
  padding-top: 5%;
}

.background {
  background-color: #d3edf8;
  display: flex;
  height: inherit;
  justify-content: center;
}

.background.clear {
  background-image: url("./Images/Sun.svg");
}

.background.clouds {
  background-image: url("./Images/Clouds.svg");
}

.background.rain {
  background-image: url("./Images/Rain.svg");
}

.background.snow {
  background-image: url("./Images/Snow.svg");
}

.weather-container {
  justify-content: center;
}

.current-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(137, 207, 235, 0.6);
  gap: 20px;
  border-radius: 18px;
  padding: 20px 70px 40px 70px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 8px 46px 6px rgba(17 20 24 / 40%);
}

.name-temp {
display: inherit;
flex-direction: inherit;
}

.name-temp h2 {
  display: inherit;
  justify-content: center;
  font-size: 2rem;
  font-weight: lighter;
}

.name-temp h1 {
  display: inherit;
  justify-content: center;
  font-size: 3rem;
  font-weight: lighter;
}

.app-data {
  display: flex;
  flex-direction: inherit;
}

.app-data p {
  text-transform: capitalize;
  display: inherit;
  justify-content: center; 
  font-size: 1.25rem; 
}

.high-low {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.zipcode-container {
  display: inherit; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 10px;
}

.zipcode-form,
.zipcode-form label {
  display: inherit;
  justify-content: flex-end;
  flex-grow: 2;
  width: 100%;
  height: 25px;
  gap: 5px;
}

.zipcode {
  display: inherit;
  gap: 10px;
  width: 100%;
}

.zipcode-input {
  display: inherit;
  justify-content: flex-end;
  width: 100%;
  border: none;
  border-radius: 6px;
  text-overflow: ellipsis;
}

.zipcode-input::placeholder {
  opacity: 0.5s;
}

.zipcode-input:focus-visible {
  outline-color: rgb(84, 141, 228);
}

.zipcode-btn {
  display: inherit;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.1s;
  background-color: rgb(84, 141, 228);
}

.zipcode-btn:hover {
  background-color: #879CEB;
}

.zipcode-btn:active {
  box-shadow: inset 0px 0px 5px #181616;
  outline: none;
}

.date {
  position: absolute;
  top: 5%;
  right: 77%;
  font-size: 1rem;
}

.svgIcon {
  position: absolute;
  left: 90%;
  top: 5%;
  font-size: larger;
  transition: transform .7s ease-in-out;
}

.svgIcon:hover {
  color: #879CEB;
  transform: rotate( 360deg);
  cursor: pointer;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 400px;
}

.box {
  display: inherit;
  background-color: rgb(137, 207, 235, 0.6);
  border-radius: 18px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 12px 16px 6px rgb(17 20 24 / 20%);
  font-size: 1rem;
  gap: 10px;
}

.sun,
.humidity,
.feels-like,
.wind {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 42%;
  height: 150px;
}

.icon-text {
  text-shadow: none;
  color: #f0f5f7;
  text-shadow: .5px .5px #9c9c9c;
  /* color: rgb(84, 142, 228); */
}

.box-value {
  font-size: 1.5rem;
}

/* .placeholder {
  background-color: hsl(200, 100%, 100%);
  z-index: 1000;
  border-radius: 8px;
}

.placeholder p {
  z-index: -1;
  opacity: 0;
} */

.placeholder {
  position: relative; 
  left: 40%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 100vw;
  background: rgb(84, 141, 228);
  background-image: conic-gradient(white, rgb(84, 141, 228));
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.placeholder:after {
  position: fixed;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .placeholder,
.name-temp .placeholder,
.placeholder .high-low p {
  font-size: 0;
  text-align: center;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width:500px),
            screen and (max-height: 950px) {
  root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .date {
    font-size: 13px;
    top: 5px;
    right: 77%;
  }

  .svgIcon {
    top: 5px;
    font-size: 18px;
  }

  .app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: unset;
  }

  .current-container {
    width: 258px;
    padding: 20px;
    gap: 10px;
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    width: 300px;
  }

  .sun,
  .humidity,
  .feels-like,
  .wind {
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 40%;
    height: 80px;
  }
}

@media only screen and (max-height:650px) {
  .background {
    height: unset;
    padding: 30px;
  }
}