@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roberto', sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  user-select: none;
}

p {
  margin: 0;
  user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.App {
  height: inherit;
  width: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  color: whitesmoke;
  text-shadow: .5px .5px rgb(109, 109, 109); 
  padding-top: 5%;
}

.background {
  background-color: #d3edf8;
  display: flex;
  height: inherit;
  justify-content: center;
}

.background.clear {
  background-image: url("./Images/Sun.svg");
}

.background.clouds {
  background-image: url("./Images/Clouds.svg");
}

.background.rain {
  background-image: url("./Images/Rain.svg");
}

.background.snow {
  background-image: url("./Images/Snow.svg");
}

.background.clear-night {
  background-image: url("./Images/SunNight.svg");
}

.background.clouds-night {
  background-image: url("./Images/CloudsNight.svg");
}

.background.rain-night {
  background-image: url("./Images/RainNight.svg");
}

.background.snow-night {
  background-image: url("./Images/SnowNight.svg");
}

.weather-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: inherit;
}

.current-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  gap: 20px;
  border-radius: 18px;
  padding: 20px 0 0 0;
  /* background-color: rgba(28, 166, 221, 0.97);
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 8px 46px 6px rgba(17 20 24 / 40%); */
}

.name-temp {
display: inherit;
flex-direction: inherit;
width: inherit;
}

.name-temp h2 {
  display: inherit;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
}

.name-temp h1 {
  display: inherit;
  justify-content: center;
  font-size: 4rem;
  font-weight: 300;
}

.app-data {
  display: inherit;
  flex-direction: inherit;
  width: inherit;
}

.app-data p {
  text-transform: capitalize;
  display: inherit;
  justify-content: center; 
  font-size: 1.25rem; 
  font-weight: 300;
}

.high-low {
  display: inherit;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 300;
}

.input-container {
  display: inherit; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width: calc(100% - 20px); */
  width: 100%;
}

.input-form {
  position: relative;
  display: inherit;
  justify-content: center;
  width: inherit;
  background-color: rgba(28, 166, 221);
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 12px 16px 6px rgb(17 20 24 / 20%);

  /* height: 25px; */
}

.input-form .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 166, 221);
  color: whitesmoke;
  text-shadow: none;
  height: 15px;
  padding: 10px 0 10px 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  user-select: none;
  z-index: 2;
}

.input {
  display: inherit;
  justify-content: flex-end;
  width: inherit;
  height: 35px;
  border: none;
  border-radius: 0  12px 12px 0;
  text-overflow: ellipsis;
  padding: 0 10px;
  font-size: 16px;
  color: whitesmoke;
  background-color: rgba(28, 166, 221);
  z-index: 2;
}

.input::placeholder {
  opacity: 0.5s;
  font-size: 16px;
  font-weight: 100;
}

.input:focus-visible {
  outline: none;
}

.input-container .input-form .input::placeholder {
  color: #ebebeb;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.input-container .input-form .input {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.popper {
  position: absolute;
  transform: translateY(26px) translateX(0);
  display: inherit;
  flex-direction: column;
  width: 360px;
  padding-top: 0px;
  /* padding-top: 15px;
  padding-bottom: 10px; */
  background-color: rgb(1, 149, 207);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: whitesmoke;
  text-shadow: none;
  overflow-y: scroll;
  max-height: 400px;
  z-index: 1;
}

.popper span {
  padding: 10px 10px;
  font-size: 16px;
}

.popper span:hover {
  cursor: pointer;
  background-color: rgb(192, 234, 250);
}

/* ---Scrollbar Styles--- */
::-webkit-scrollbar {
  width: 7px;
}

/* ---Add color change on mouse wheel scroll --- */
::-webkit-scrollbar-track {
  background: rgb(192, 234, 250);
  border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64b4f6;
}

.background.clear-night ::-webkit-scrollbar-track,
.background.clouds-night ::-webkit-scrollbar-track,
.background.rain-night ::-webkit-scrollbar-track,
.background.snow-night ::-webkit-scrollbar-track {
  background: #2c2c2c;
}

.background.clear-night ::-webkit-scrollbar-thumb,
.background.clouds-night ::-webkit-scrollbar-thumb,
.background.rain-night ::-webkit-scrollbar-thumb,
.background.snow-night ::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

.background.clear-night ::-webkit-scrollbar-thumb:hover,
.background.clouds-night ::-webkit-scrollbar-thumb:hover,
.background.rain-night ::-webkit-scrollbar-thumb:hover,
.background.snow-night ::-webkit-scrollbar-thumb:hover {
  background: #64b4f6;
}

.date {
  position: absolute;
  top: 5%;
  right: 77%;
  font-size: 1rem;
}

.svgIcon {
  position: absolute;
  left: 90%;
  top: 5%;
  font-size: larger;
  transition: transform .7s ease-in-out;
}

.svgIcon:hover {
  color: #879CEB;
  transform: rotate( 360deg);
  cursor: pointer;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 400px;
}

.box {
  display: inherit;
  background-color: rgba(28, 166, 221, 0.97);
  border-radius: 18px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 12px 16px 6px rgb(17 20 24 / 20%);
  font-size: 1rem;
  gap: 10px;
  padding: 0;
}
 
.background.clear-night .box,
.background.clouds-night .box,
.background.rain-night .box,
.background.snow-night .box {
  background-color: rgba(83, 83, 83, 0.97);
}

.background.clear-night .input-form,
.background.clouds-night .input-form,
.background.rain-night .input-form,
.background.snow-night .input-form,
.background.clear-night input#input.input,
.background.clouds-night input#input.input,
.background.rain-night input#input.input,
.background.snow-night input#input.input,
.background.clear-night .input-form .material-symbols-outlined,
.background.clouds-night .input-form .material-symbols-outlined,
.background.rain-night .input-form .material-symbols-outlined,
.background.snow-night .input-form .material-symbols-outlined {
  color: whitesmoke;
  background-color: rgba(109, 109, 109, 1);
}

.background.clear-night .popper,
.background.clouds-night .popper,
.background.rain-night .popper,
.background.snow-night .popper {
  color: whitesmoke;
  background-color: rgb(80, 80, 80);
}

.background.clear-night .popper span:hover,
.background.clouds-night .popper span:hover,
.background.rain-night .popper span:hover,
.background.snow-night .popper span:hover {
  background-color: #64b4f6;
}

.background.clear-night .input::placeholder,
.background.clouds-night .input::placeholder,
.background.rain-night .input::placeholder,
.background.snow-night .input::placeholder {
  color: whitesmoke;
}

.sun,
.humidity,
.feels-like,
.wind {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 42%;
  height: 150px;
}

.icon-text {
  display: flex;
  align-items: baseline;
  gap: 10px;
  text-shadow: none;
  color: #f0f5f7;
  text-shadow: .5px .5px #9c9c9c;
}

.box-value {
  font-size: 1.5rem;
}

.placeholder {
  position: relative; 
  left: 40%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 100vw;
  background: rgb(84, 141, 228);
  background-image: conic-gradient(white, rgb(84, 141, 228));
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.placeholder:after {
  position: fixed;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .placeholder,
.name-temp .placeholder,
.placeholder .high-low p {
  font-size: 0;
  text-align: center;
  margin: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width:500px),
            screen and (max-height: 950px) {
  root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .popper {
    width: 218px;
  }

  .date {
    font-size: 13px;
    top: 5px;
    right: 77%;
  }

  .svgIcon {
    top: 5px;
    font-size: 18px;
  }

  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: unset;
  }

  .current-container {
    width: 300px;
    /* padding: 20px; */
    gap: 10px;
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
  }

  .sun,
  .humidity,
  .feels-like,
  .wind {
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 40%;
    height: 80px;
  }
}

@media only screen and (max-height:650px) {
  .background {
    height: unset;
    padding: 30px;
  }
}